/*RESET*/

@font-face { font-family: 'magic-font'; src: url('magic-font.woff'); }

body, h1, h2, h3, p, div, nav, ul, li {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  color: inherit;
}

h1{
  margin-top:40px;
  font-family: 'magic-font';
  font-weight:lighter;
  font-size: 70px;
  color: #422900;
}

h3{
  font-family: 'magic-font';
  font-size: 30px;
  font-weight:lighter;
  color: #422900;
}

ul {
  list-style: none;
  padding-left:0px;
  padding-bottom:15px;
}

ul li {
  font-family: 'magic-font';
  font-weight:lighter;
  font-size: 30px;
  color: #422900;
}

button {
  background: none;
  border: 1px solid #422900;
  border-radius: 5px;
  font-family: 'magic-font';
  font-weight:lighter;
  font-size: 20px;
  color: #422900;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#background{
  position: relative;
  width: 900px;
  height: 675px;
  background-image: url('../backgrounds/world-background.png');
  margin: 0 auto;
}

#game-canvas{
  position: absolute;
  margin: 0 auto;
}

/*NAV MENU*/


.nav-button{
  position:absolute;
  top: 15px;
  left: 15px;
}

.nav-button.info {
  top: 15px;
  left: 85px;
}

.sound-button{
  position :absolute;
  top: 15px;
  left: 148px;
  width:33px;
  height:33px;
}

.intro-text {
  letter-spacing: .15em;
  width:300px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url('../backgrounds/menu-background.jpg');
  background-size: cover;
  width: 900px;
  height: 675px;
  border: none;
  outline: none;
}
/*
.nav-menu-overlay{
  position: absolute;
  height:675px;
  width:900px;
  margin: 0 auto;
  background: black;
}*/

.nav-menu p {
  font-family: 'Tangerine', cursive;
  font-size: 35px;
  color: #422900;
  text-align: justify;
  width: 500px;
  /*font-family: 'Tangerine', cursive;
font-family: 'Italianno', cursive;*/
}

.nav-menu h3{
  margin-bottom: 15px;
}
