/*.main {
  display:flex;
  justify-content: center;
}*/

/*#canvas {
  margin: 0 auto;
}*/

.main {
  display: flex;
}


#background-canvas{
  position: relative;
  z-index: -1;
}

#game-canvas{
  position: absolute;
  z-index: 1;
}

.intro-text {
  letter-spacing: .15em;
  width:300px;
}
